[package]
name = "av-scenechange"
version = "0.7.2"
authors = ["Josh Holmer <jholmer.in@gmail.com>"]
edition = "2018"
description = "Estimates frames in a video where a scenecut would be ideal"
license = "MIT"
repository = "https://github.com/rust-av/av-scenechange"

[dependencies]
anyhow = "1.0.56"
y4m = "0.7.0"
clap = { version = "4.0.22", optional = true, features = ["derive"] }
serde = { version = "1.0.123", optional = true, features = ["derive"] }
serde_json = { version = "1.0.62", optional = true }
rav1e = { git = "https://github.com/xiph/rav1e", default-features = false, features = [
    "asm",
    "scenechange",
    "threading",
] }
log = { version = "0.4.14", optional = true }
console = { version = "0.15", optional = true }
fern = { version = "0.6", optional = true }
rust_hawktracer = "0.7.0"

[features]
default = ["binary"]
binary = ["clap", "serialize"]
serialize = ["serde", "serde_json"]
devel = ["log", "console", "fern"]
tracing = ["rust_hawktracer/profiling_enabled"]

[[bin]]
name = "av-scenechange"
path = "src/main.rs"
required-features = ["binary"]
